#!/bin/bash

/usr/bin/podman run \
    --network host \
    --rm \
    --user 1000:1000 \
    --uidmap 0:{{ logscraper_uid + 1 }}:999 \
    --uidmap 1000:{{ logscraper_uid }}:1 \
    --name logsender-{{ item.tenant }} \
    --volume {{ item.download_dir }}:{{ item.download_dir }}:z \
    --volume {{ item.logscraper_dir | default(logscraper_dir) }}:{{ logscraper_dir }}:z \
    {% if 'logsender_custom_ca_crt' in item %}
    --volume {{ item['logsender_custom_ca_crt'] }}:{{ item['logsender_custom_ca_crt'] }}:z \
    {% endif %}
    {{ container_images['logsender'] }} \
    /usr/local/bin/logsender --config {{ logscraper_dir }}/logsender-{{ item['tenant'] }}.config
