[DEFAULT]
directory: /tmp/logscraper
host: localhost
port: 9200
subpath:
username: logstash
password:
index_prefix: logstash-
index:
chunk_size: 1500
skip_debug: True
keep: False
debug: False
wait_time: 120
insecure: False
ca_file:
follow: True
workers: 1
file_list: ['logscraper/download-list.yaml.sample']
performance_index_prefix: performance-
subunit_index_prefix: subunit-
