[Unit]
Description=loggearman {{ item }} service
After=syslog.target network.target
StartLimitInterval=20
StartLimitBurst=5

[Service]
Type=simple
SyslogIdentifier=loggearman-{{ item }}
ExecStart=/usr/local/bin/podman-loggearman-{{ item }}
ExecStop=/usr/bin/podman stop loggearman-{{ item }}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
