#!/bin/bash

# MANAGED BY ANSIBLE
/usr/bin/podman run \
    --network host \
    --rm \
    --user 1000:1000 \
    --uidmap 0:{{ loggearman_uid + 1 }}:999 \
    --uidmap 1000:{{ loggearman_uid }}:1 \
    --name loggearman-{{ item }} \
    --volume {{ loggearman_dir }}:{{ loggearman_dir }}:z \
    --volume {{ loggearman_log_dir }}:{{ loggearman_log_dir }}:z \
    {{ container_images['loggearman'] }} \
    log-gearman-{{ item }} \
    -c {{ loggearman_dir }}/{{ item }}.yml \
    --foreground \
    -d {{ loggearman_log_dir }}/{{ item }}.log
