---
gearman-host: {{ gearman_host }}
gearman-port: {{ gearman_port }}
output-host: {{ output_host }}
output-port: {{ output_port }}
output-mode: {{ output_mode }}
log-cert-verify: {{ log_cert_verify }}
{% if crm114_script %}
crm114-script: {{ crm114_script }}
{% endif %}
{% if crm114_data %}
crm114-data: {{ crm114_data }}
{% endif %}
{% if log_ca_certs %}
log-ca-certs: {{ log_ca_certs }}
{% endif %}
