[DEFAULT]
zuul_api_url: {{ item['zuul_api_url'].split(', ') }}
follow: {{ item['follow'] | default(true) }}
checkpoint_file: {{ item['checkpoint_file'] | default(logscraper_dir + '/checkpoint') }}
workers: {{ item['logscraper_workers'] | default(1) }}
max_skipped: {{ item['max_skipped'] | default(1000) }}
debug: {{ item['debug'] | default(false) }}
download: {{ item['download'] | default(true) }}
file_list: {{ logscraper_dir }}/download-list-{{ item['tenant'] }}.yaml
directory: {{ item['download_dir'] | default('/tmp/logscraper') }}
wait_time: {{ item['logscraper_wait_time'] | default(120) }}
insecure: {{ item['insecure'] | default(false) }}
ca_file: {{ item['logscraper_custom_ca_crt'] | default('') }}
monitoring_port: {{ item['monitoring_port'] | default('') }}
#deprecated
gearman_server: {{ item['gearman_server'] | default('') }}
gearman_port: {{ item['gearman_port'] | default(4730) }}
logstash_url: "{{ item['logstash_url'] | default('') }}"
{% if 'job_name' in item %}
job_name: {{ item['job_name'].split(', ') }}
{% endif %}
