#!/bin/bash

/usr/bin/podman run \
    --network host \
    --rm \
    --user 1000:1000 \
    --uidmap 0:{{ logscraper_uid + 1 }}:999 \
    --uidmap 1000:{{ logscraper_uid }}:1 \
    --name logscraper-{{ item.tenant }} \
    --volume {{ item.logscraper_dir | default(logscraper_dir) }}:{{ logscraper_dir }}:z \
    {% if 'custom_ca_crt' in item %}
    --volume {{ item['custom_ca_crt'] }}:{{ item['custom_ca_crt'] }}:z \
    {% endif %}
    {% if 'download_dir' in item %}
    --volume {{ item.download_dir }}:{{ item.download_dir }}:z \
    {% endif %}
    {{ container_images['logscraper'] }} \
    /usr/local/bin/logscraper \
    --zuul-api-url {{ item.zuul_api_url }} \
    --config {{ logscraper_dir }}/config.yaml \
    {% if 'job_name' in item %}
    {% for job in item['job_name'] %}
    --job-name {{ job }} \
    {% endfor %}
    {% endif %}
    {% if 'gearman_port' in item and 'gearman_server' in item %}
    --gearman-port {{ item['gearman_port'] }} \
    --gearman-server {{ item['gearman_server'] }} \
    {% else %}
    --download \
    {% endif %}
    {% if 'download_dir' in item %}
    --directory {{ item['download_dir'] }} \
    {% endif %}
    {% if 'insecure' in item %}
    --insecure \
    {% endif %}
    --checkpoint-file {{ item.checkpoint_file | default(logscraper_dir + '/checkpoint') }} \
    {% if 'logstash_url' in item %}
    --logstash-url {{ item['logstash_url'] }} \
    {% endif %}
    {% if 'logscraper_workers' in item %}
    --workers {{ item['logscraper_workers'] }} \
    {% endif %}
    {% if 'max_skipped' in item %}
    --max-skipped {{ item.max_skipped }} \
    {% endif %}
    {% if 'debug' in item %}
    --debug \
    {% endif %}
    {% if 'logscraper_wait_time' in item %}
    --wait-time {{ item['logscraper_wait_time'] }} \
    {% endif %}
    {% if 'custom_ca_crt' in item %}
    --ca-file {{ item['custom_ca_crt'] }} \
    {% endif %}
    --follow
